<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Actividad_6.css">
    <script src="Actividad_6.js"></script>
</head>
<body>
	<div class="wrap">
		<ul class="tabs">
			<li><a href="#tab1"><span class="fa fa-home"></span><span class="tab-text">Home</span></a></li>
			<li><a href="#tab2"><span class="fa fa-group"></span><span class="tab-text">Perfil</span></a></li>
			<li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Discos</span></a></li>
			<li><a href="#tab4"><span class="fa fa-bookmark"></span><span class="tab-text">Créditos</span></a></li>
            <li><a href="#tab5"><span class="fa fa-bookmark"></span><span class="tab-text">Ventas de discos</span></a></li>
		</ul>
        <div class="secciones">
			
                <p>Estudiante: Cory Ramírez</p>
                <p>Carnet: 0903-19-6194</p>
                    
            
			</article>

		<div class="secciones">
			<article id="tab1">
				<h1>Home</h1>
				<p>Misión: “Brindar a las personas acceso a toda la música que deseen, en cualquier momento - de manera completamente legal y accesible.”</p>  
                <p></p>
                <p>Visión: “Tener momentos con música en cualquier lugar.”</p>   
                <p></p>
                <p>Valores:</p>
                <p></p>
                <p>Somos innovadores. Todos somos pioneros.</p>
                <p>Somos colaborativos. Todos somos Musica.</p> 
                <p>Somos sinceros. Lo decimos en verdad.</p>
                    
            
			</article>
			<article id="tab2">
				<h1>Perfil</h1>
				<p>Escuchen juntos
                    y también por separado.
                    Con dos cuentas individuales, cada uno puede disfrutar de la música que más le gusta sin tener que turnarse.</p>
			</article>
			<article id="tab3">
				<h1>Discos</h1>
                <p>Arte</p>
                <p>Pop</p>
                <p>Romanticas</p>
                <p>Regeton</p>
                <p>Bachata</p>
			<article id="tab4">
				<h1>Créditos</h1>
				<p>Carlos Lopez</p>
			</article>
            <article id="tab5">
				<h1>Ventas de discos</h1>
				<p>San Marcos </p>
			</article>
		</div>
	</div>
</body>