{% extends 'base.html' %}

{% block contenido %}

{% load static %}

<article id="tab1">
    <h1>Home</h1>
    <p>Misión: “Brindar a las personas acceso a toda la música que deseen, en cualquier momento - de manera completamente legal y accesible.”</p>  
    <p></p>
    <p>Visión: “Tener momentos con música en cualquier lugar.”</p>   
    <p></p>
    <p>Valores:</p>
    <p></p>
    <p>Somos innovadores. Todos somos pioneros.</p>
    <p>Somos colaborativos. Todos somos Musica.</p> 
    <p>Somos sinceros. Lo decimos en verdad.</p>
</article>

{% endblock contenido %}